{% extends "MyDjango/layoute.html" %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content %}
    <h3>"Смешарики" — это российский анимационный сериал, созданный в 2003 году.</h3>
    <p> Он стал популярным благодаря своему уникальному стилю и образовательному содержанию.</p>
    <p> Сюжет сериала разворачивается вокруг группы круглых персонажей, каждый из которых обладает своим характером и интересами.</p>
    <p> Эти персонажи живут в вымышленном мире, где сталкиваются с различными жизненными ситуациями, позволяющими обучать детей важным жизненным навыкам. Каждый эпизод длится около 6 минут и обычно несет в себе мораль или урок. Персонажи, такие как Крош, Ёжик, Нюша и Лосяш, стали любимыми героями для многих детей и взрослых.
    </p> "Смешарики" получили признание не только в России, но и за рубежом, благодаря переводу на многие языки. Сериал стал основой для создания различных спин-оффов и полнометражных фильмов. Анимация выполнена в ярком и красочном стиле, что привлекает внимание зрителей всех возрастов.</p>
    <h4>"Смешарики" продолжают оставаться актуальными, благодаря своей способности адаптироваться к современным реалиям и интересам зрителей.</h4>
{% endblock %}
