{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static 'mydjango/img/ромашка-пр.png' %}" alt="Эмблема смешариков" width="80">
    <a class="navbar-brand" href="#">->Смешарики</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'home' %}">Главная</a>

            </li>
            <li class="nav-item">
                <a href="{% url 'pagenews' %}">Новости</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pagetest' %}">Тесты</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pagedata' %}">Информация</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'news' %}">Новостная страница</a>
            </li>
        </ul>
    </div>
</nav>



